<div fxLayoutAlign="center center" style="width: 100%;">
  <nb-icon status="warning" icon="alert-triangle-outline"></nb-icon> This Covid-19 Fact-checker is a working prototype based on publicly available knowledge sources. We are not responsible for the accuracy of the claims.
</div>
<div fxLayoutAlign="center center" style="width: 100%;">
  <p>© 2020 - <a href="https://www.linkedin.com/in/rutvik-vijjali-338410155/">Rutvik Vijjali</a>, <a href="https://www.linkedin.com/in/prathyushpotluri/">Prathyush Potluri</a>, <a href="https://www.linkedin.com/in/siddharth-kumar-iyer-7182ba7a/">Siddharth Iyer</a>, <a href="https://www.linkedin.com/in/sundeepteki/">Sundeep Teki</a></p>
</div>
